.header {
    width: 100%;
    height: 80px;
    position: sticky;
    z-index: 2;
    top: 0;
    display: flex;
    align-items: center;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 8px #ccc;
}

.header .navbar-nav {
    flex-direction: initial;
}

.navbar-nav .nav-item--link {
    padding: 15px;
}
.tagline {
    color: #ef470d;
    display: block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
}
.sec-title {
    font-size: 42px;
    color: #0c2e60;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    width: 635px;
    text-align: center;
    margin-left: 350px;
    margin-bottom: 80px;
}
.entry-content h3{
    margin-bottom: 20px;
    color: #0c2e60;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
}
.entry-content p{
    margin-bottom: 1rem;
}
.entry-content h6{
    color: #0c2e60;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    margin: 40px 0 20px;
}
.certification .sec-heading h3{
    margin-top: 60px;
}
.certification .carousel-inner img{
    display: block;
    width: 100%;
    height: auto;

}
.certification{
    padding: 70px 0;
    width: 100%;
    display: block;
}
.video-box img{
    display: block;
    width: 100%;
    height: auto;
    margin-top: 40px;
}
@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
    transform: translateX(0);
}
.footer {
    margin-top: 20px;
}

.foo-top {
    background-color: #f3f3f3;
    padding: 80px 0;
}

.footer .widget {
    margin-bottom: 30px;
}

.footer .widget .widget-title {
    margin-bottom: 25px;
}

.widget .widget-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 35px;
}

.widget-navigation li a {
    color: #999;
    display: block;
    font-weight: 300;
    margin-bottom: 5px;
}

.foo-btm .copyright {
    color: #83868c;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    padding: 20px 0;
}

.foo-btm .copyright a {
    color: #ef470d;
}

a:hover {
    text-decoration: none;
    outline: 0;
}