.course-detail {
    padding: 80px;
}
.course-detail .course-detail--container {
    display: flex;
}
.course-detail .course-detail--main {
    width: calc(100%/3 * 2);
    padding: 0 15px;
}
.course-detail--main .course-main--image img {
    width: 100%;
}
.course-detail--main .course-main--info {
    margin-bottom: 20px;
    padding: 25px;
    border: 1px solid #ccc;
}
.course-main--info .course-info--title {
    font-weight: 700;
    color: #0c2e60;
}
.course-main--info .course-info--description {
    font-weight: 500;
    color: #0c2e60;
}
.course-main--info .course-info--author {
    padding-right: 10px;
    border-right: 1px solid #ccc;
}
.course-info--author a {
    color: #f98f05;
}
.course-main--info .course-info--views {
    margin-left: 10px;
}
.course-main--curriculum .nav-item {
    width: calc(100%/3);
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.nav-item:nth-child(2) {
    border-left: 0;
    border-right: 0;
}
.nav-item .nav-link {
    width: 100%;
    padding: 15px;
    border-radius: 0;
    font-size: 18px;
    background-color: #f7f7f7;
    color: #000;
}
.nav-item .nav-link.active {
    background: linear-gradient(90deg, #ef3e0f, #ffb800);
}
.course-main--curriculum .tab-content {
    padding: 25px;
    border: 1px solid #ccc;
}
.tab-content .tab-pane--overview .tab-overview--list {
    padding: 0;
}
.tab-overview--list li {
    width: 48%;
    display: inline-block;
}
.tab-overview--list li span {
    margin-left: 10px;
}
.tab-pane--curriculum {
    padding: 0;
}
.tab-pane--curriculum .tab-curriculum--item {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #f7f8fa;
    cursor: pointer;
}
.tab-curriculum--item .card {
    display: block;
}
.card .card-item {
    width: 100%;
    margin-bottom: 10px;
}
.card-item span {
    margin-left: 10px;
}
.tab-pane--objective .tab-objective--detail {
    font-size: 18px;
}
.course-detail--side .course-side--author {
    padding: 25px;
    border: 1px solid #ccc;
}
.course-side--author .course-author--avt {
    display: flex;
    justify-content: center;
}
.course-author--avt .img-avt {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.course-side--author .course-author--name {
    width: 100%;
    margin-top: 15px;
    text-align: center;
}
.course-side--author .course-author--work {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
.course-side--author .course-author--social {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-left: 0;
}
.course-author--social li {
    margin: 0 10px;
    font-size: 20px;
}
.course-detail--side .course-side--buy {
    position: sticky;
    top: 100px;
    margin-top: 20px;
    padding: 25px;
    border: 1px solid #ccc;
}
.course-side--buy .course-buy--price {
    display: flex;
    justify-content: center;
    align-items: center;
}
.course-buy--price .course-price--old {
    margin-left: 10px;
    text-decoration: line-through;
}
.course-buy--time {
    margin-bottom: 15px;
    text-align: center;
}
.course-buy--addcart {
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 40px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-weight: 500;
    line-height: 0.8;
    transition: all 0.3s ease;
}
.course-buy--addcart:hover {
    color: #0c2e60;
}
.course-buy--buynow {
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 40px;
    font-size: 14px;
    font-weight: 500;
    line-height: 0.8;
    background: linear-gradient(90deg, #ef3e0f, #ffb800);
    color: #fff;
    transition: all 0.3s ease;
}
.course-buy--buynow:hover {
    color: #0c2e60;
}