* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #83868c;
    background-color: #fff;
    /* font-family: "Roboto",sans-serif; */
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
}
section {
    display: block;
    position: relative;
    padding: 30px 0;
    width: 100%;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6 {
    color: #0c2e60;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
}
.header {
    width: 100%;
    height: 80px;
    position: sticky;
    z-index: 2;
    top: 0;
    display: flex;
    align-items: center;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 8px #ccc;
}

.header .navbar-nav {
    flex-direction: initial;
}

.navbar-nav .nav-item--link {
    padding: 15px;
}
.banner-content h2, .slider-content h2 {
    font-size: 49px;
    line-height: 60px;
}
.banner-content p, .slider-content p {
    color: #888;
    margin-bottom: 50px;
}
.banner-content h2, .slider-content h2 {
    color: #0c2e60;
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.banner {
    background-image: url(https://demo.themeies.com/elearning-react/static/media/ban-01.fd203be0.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding: 5% 0 5%;
}

.banner .vector-img {
    width: 20%;
    position: absolute;
    right: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
   
}
.banner-content h2 span, .slider-content h2 span {
    color: #ef470d;
    display: block;
}
.btn-default {
    background: linear-gradient(90deg,#ef3e0f,#ffb800);
    border-radius: 50px;
    color: #fff;
}
.btn {
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    line-height: .8;
    text-transform: uppercase;
    padding: 20px 40px;
    text-align: center;
    vertical-align: middle;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.services {
    padding-bottom: 20px;
    position: relative;
}
.iconBox {
    margin-bottom: 30px;
    position: relative;
    text-align: center;
}
.iconBox .img-icon {
    max-width: 88px;
    width: auto;
    margin: 0 auto 45px auto;
}
.iconBox h5 {
    margin-bottom: 30px;
}
.iconBox p {
    margin-bottom: 27px;
}
a {
    transition: all .3s ease-in-out;
}
.iconBox h5 a {
    font-size: 22px;
    color: #0c2e60;
}
.read-more {
    color: #0c2e60;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 2px solid #e8e9eb;
    display: inline-block;
}
.read-more:hover {
    color: #ef470d;
}
.sec-heading {
    margin-bottom: 80px;
}
.tagline {
    color: #ef470d;
    display: block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
}
.sec-heading .sec-title {
    font-size: 42px;
    margin-bottom: 0;
}
.card, .process {
    position: relative;
    padding: 25px;
}
.card {
    border: none;
    box-shadow: 0 10px 30px rgba(24,33,99,.1);
}

.process h3 {
    font-size: 30px;
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    text-transform: capitalize;
    padding: 15px 0;
    z-index: 1;
}
.process h3::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100% 50%;
    margin: 0 auto;
    background-color: #f1f6f9;
    height: 57px;
    width: 88px;
    z-index: -1;
}
ul {
    margin: 0;
}
ul {
    padding: 0;
    list-style: none;
}
.process li {
    position: relative;
    padding-left: 110px;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 80px;
    z-index: 1;
    
}
.process li .icon-bg {
    border-radius: 50%;
    background-color: #f1f6f9;
    display: block;
    text-align: center;
    position: absolute;
    left: 0;
    transition: all .3s ease-in-out;
    height: 80px;
    width: 80px;
    top: 50%;
    transform: translateY(-50%);
}
.process li h5 {
    font-size: 22px;
    margin-bottom: 0;
    text-transform: capitalize;
}
.process li p {
    margin-bottom: 0;
}
.process li img {
    position: relative;
    max-width: 36px;
    width: auto;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}
.features.boxed {
    background-color: initial;
}
.features {
    background-color: #0c2e60;
    padding: 40px 0;
}
.features.boxed .sfBox {
    background-color: #0c2e60;
    border-radius: 5px;
    padding: 40px 25px 40px 100px;
}
.features .sfBox {
    color: #fff;
    padding-left: 70px;
    position: relative;
}
.features .sfBox i {
    font-size: 52px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 20px;
}
.features .sfBox span, .features .sfBox strong {
    display: block;
}
.features .sfBox strong {
    font-size: 22px;
    font-weight: 500;
}
.categories {
    padding-bottom: 40px;
}
.icon-list-block {
    background-color: #fff;
    box-shadow: 0 5px 30px 0 rgba(0,0,0,.05);
    border: 1px solid #efefef;
    border-radius: 5px;
    display: block;
    padding: 15px 25px;
    margin-bottom: 30px;
}
.icon-list-block img {
    display: inline-block;
    margin-right: 20px;
    width: 30px;
}
.icon-list-block span {
    color: #2f2f35;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 0;
}
.icon-list-block:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    box-shadow: 0 5px 30px 0 rgba(0,0,0,.1);
}
.testimonial {
    background: url(../image/image_index/bg2.jpg) top center/cover;
}
.testimonial .container {
    position: relative;
    z-index: 1;
}
  
.testimonial:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right bottom, rgba(12, 46, 96, 0.8), rgba(239, 71, 13, 0.5));
    height: 100%;
    width: 100%;
    z-index: 0;
}
.avatar-small {
    height: 60px;
    width: 60px;
}
.circle {
    border-radius: 50%;
}
.testimonial .single-testimonial {
    position: relative;
    max-width: 770px;
    margin: 30px auto 0;
}
.testimonial .testimonial-user {
    display: block;
    margin-top: 30px;
}
.testimonial .testimonial-user   {
    margin: 0 auto 15px;
    width: 120px;
}

.avatar-small{
    width: 60px!important;
}
.testimonial-user  span{
    width: 120px;
}
.carousel-item img {
    display: block;
    width: 100%;
}
.testimonial-user strong {
    color: #0c2e60;
    margin-left: -10px;
   
}
.r-carousel{
    background-color: white;
    width: 80%;
    margin: auto;
   height: 250px;
}
.leave-a-cmt{
    padding-top: 10px;
}
.leave-a-cmt p{
    font-weight: bold;
}
.form-cmt{
    background-color: #F1F1F1;
    padding: 20px;
}
.foo-top {
    background-color: #f3f3f3;
    padding: 80px 0;
}
.footer .widget {
    margin-bottom: 30px;
}
.footer .widget .widget-title {
    margin-bottom: 25px;
}
.widget .widget-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 35px;
}
.widget-navigation li a {
    color: #999;
    display: block;
    font-weight: 300;
    margin-bottom: 5px;
}
footer{
    margin-top: 20px;
}
.foo-btm .copyright {
    color: #83868c;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    padding: 20px 0;
}
.foo-btm .copyright a {
    color: #ef470d;
}
a:hover {
    text-decoration: none;
    outline: 0;
}
