*{
    box-sizing: border-box;
}
body{
    background-image: url(/assets/image/signin/ban-01.fd203be0.jpg);
    background-position: center;
}
.main{
    display: flex;
}
.wapper{
    display: flex;
    width: 400px;
    height: 440px;
    background-color: transparent;
    border: 2px solid rgba(235, 230, 230, 0.354);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.043);
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-top: 100px;
}
.image img{
    width: 50%;
    display: block;
    height: auto;
    border-style: none;
    align-items: center;
    margin-left: 300px;
    margin-top: 100px;
}
.form-box h2{
    font-size: 2em;
    color: black;
    text-align: center;
}
.input-box{
    position: relative;
    width: 350px;
    height: 50px;
    border-bottom: 1px solid #f0450e;
    margin: 30px 0;
}
.input-box input:focus-label,
.input-box input:valid-label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    padding: 0 35px 0 5px;
    font-family: inherit;
    line-height: inherit;
}
.input-box .icon{
    position: absolute;
    right: 5px;
    font-size: 1.2em;
    color: #f0450e;
    line-height: 57px;
}
.remember-forgot{
    font-size: 0.8em;
    color: black;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: #f0450e;
    margin-right: 3px;
}
.remember-forgot a{
    color: rgb(2, 2, 2);
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 60%;
    background-color:#f0450e;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
}

.login-register{
    font-size: 0.9em;
    color: #070707;
    text-align: center;
    margin: 25px 0 10px;
}
.login-register p a{
    color:#f0450e ;
    text-decoration: none;
    font-weight: bold;
}
.login-register a:hover{
    text-decoration: underline;
}