@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBold.ttf');
    font-weight: 600;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    margin-top: 0 !important;
}
body {
    font-family: 'Raleway', sans-serif;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
button {
    outline: 0;
    border: 0;
    background: none;
    cursor: pointer;
}
input {
    outline: 0;
}